*{
    margin: 0px;
    padding: 0px;
}
body{
    background: #842525;
    display:flex;
    justify-content: center;
text-align: center;
margin-top: 60px;
    align-items: center;
flex-direction: column;
    font-family: sans-serif;
}
h1{
    color:rgb(45, 226, 17);
    font-style: italic;
    font: bold;
    font-size: 40px;
}
p{
    color: white;
    font-size: 15px;
    margin: 20px;
}
button{
    padding: 10px 20px;
    border: 1px solid gray;
    color: white;
    font-weight: bold;
    background:rgb(51, 135, 79);
    font-size: 20px;
    /* margin: 20px; */
    border-radius: 10px;
    margin-top: 40px;

}
button:hover{
    background: rgb(75, 136, 108);
    color: white;
    cursor: pointer;
}
img{
    width: 400px;
    height: 300px;
    border-radius: 50px;
    border: 1px solid rgb(149, 128, 128);
    box-shadow:  1px 3px 3px 2px rgb(172, 169, 169);
}

img:hover{
    transform: scale(1.05);
    transition: all 0.1s ease-in-out;
    transition-duration: 1s;
    overflow: hidden;
}
